body {
  background-color: #FCFCFC; }

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 0 auto 1em auto; }

.colorPicker {
  width: calc(80%/3); }

button {
  flex: 1;
  justify-content: center;
  margin: 0 0 20px 0; }
  button:nth-of-type(2) {
    margin: 0 10px 20px 10px; }

.colorPicker, button {
  display: flex;
  margin: 0 auto 20px auto;
  height: 50px; }

.strip {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 5px 0;
  border: 1px solid #777; }

.pixel {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid #c7c7c7;
  border-radius: 25px; }
  .pixel:nth-of-type(even) {
    background-color: #3f51b5; }
  .pixel:nth-of-type(odd) {
    background-color: #ff4081; }

.chase-left:nth-of-type(1) {
  animation-delay: -0.1s; }

.chase-left:nth-of-type(2) {
  animation-delay: -0.2s; }

.chase-left:nth-of-type(3) {
  animation-delay: -0.3s; }

.chase-left:nth-of-type(4) {
  animation-delay: -0.4s; }

.chase-left:nth-of-type(5) {
  animation-delay: -0.5s; }

.chase-left:nth-of-type(6) {
  animation-delay: -0.6s; }

.chase-left:nth-of-type(7) {
  animation-delay: -0.7s; }

.chase-left:nth-of-type(8) {
  animation-delay: -0.8s; }

.chase-right:nth-of-type(1) {
  animation-delay: 0.1s; }

.chase-right:nth-of-type(2) {
  animation-delay: 0.2s; }

.chase-right:nth-of-type(3) {
  animation-delay: 0.3s; }

.chase-right:nth-of-type(4) {
  animation-delay: 0.4s; }

.chase-right:nth-of-type(5) {
  animation-delay: 0.5s; }

.chase-right:nth-of-type(6) {
  animation-delay: 0.6s; }

.chase-right:nth-of-type(7) {
  animation-delay: 0.7s; }

.chase-right:nth-of-type(8) {
  animation-delay: 0.8s; }

.pulse {
  animation: pulse 1s infinite; }

@keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
